<?php return [
  /**
  * masterbot configuration
  */
  #'dir'    => dirname(__DIR__).DIRECTORY_SEPARATOR.'data',
  #'source' => 'master',
  #'url'    => 'https://api.telegram.org/bot',
  'token'  => '',
];
?>
